<%- include("./layouts/header.ejs") %>
<!------- cart items deitail ------->
<div class="small-container cart-page">
    <% var total = 0 %> 
    <% if(typeof cart != "undefined"){ %> 
    <table class="table">
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th></th>
            <th>Subtotal</th>
        </tr>
        <% cart.forEach(function(p){ %> 
            <% var sub = p.qty*p.price %>
            <% total += +sub %> 
            <tr>
                <td>
                    
                        <div class="cart-info">
                        <a href="/books/<%= p.slug %> ">
                            <img src="<%= p.image %> " alt="">
                        </a>
                        <div>
                            <p><%= p.title %> </p>
                            <small id="small">Price: <%= parseFloat(p.price).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %><u><sup>đ</sup></u></small>
                        </div>
                        </div>
                </td>
                <td><%= p.qty %></td>
                <td>
                    <a href="/update/<%= p.slug  %>?action=add">+&nbsp;&nbsp;</a>
                    <a href="/update/<%= p.slug  %>?action=remove">-&nbsp;&nbsp;</a>
                    <a href="/update/<%= p.slug  %>?action=clear">Xóa</a>
                </td>
                <td><span id="subtotal"><%= parseFloat(sub).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %></span><u><sup>đ</sup></u></td>
            </tr>
        <% }) %> 
    </table>
    <div class="flex-row">
        <div class="total-price">
            <table>
                <tr>
                    <td>Total</td>
                    <td><span id="total"><%= parseFloat(total).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %></span><u><sup>đ</sup></u></td>
                </tr>
            </table>
        </div>
    </div>
    
    <a href="/clear" class="btn btn-danger float-right " id="clearcard">Bỏ giỏ hàng</a>
    <a href="/books" class="btn btn-danger float-right">Mua thêm</a>
    <a href="" class="btn btn-danger float-right" onclick="if(confirm('Hệ thống đang trong giai đoạn phát triển, chức năng thanh toán sẽ được nâng cấp sau !')) {
        window.location = 'back'
    }">Thanh toán</a>
    

    
    <% } else { %> 
    <h3 class="text-center">Giỏ hàng trống</h3>
    <% } %> 
</div>

<script>
    document.getElementById("clearcard").addEventListener("click", function() {
        if(!confirm('Xác nhận xóa giỏ hàng ?'))
            return false
    })
</script>

<%- include("./layouts/footer.ejs") %>